<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido al Dashboard de Recursos Humanos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); /* Imagen de fondo relacionada con RRHH */
            background-size: cover;
            background-position: center;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
       .container {
            text-align: center;
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            width: 100%;
        }
        h1 {
            color: #4a90e2;
        }
       .button {
            background-color: #4a90e2;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            margin: 10px;
        }
       .button:hover {
            background-color: #337ab7;
        }
        .button-down{
            background-color: #e24a4a;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            margin: 10px;
        }
       .button-down:hover {
            background-color: #b73333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Dashboard de Recursos Humanos</h1>
        <p>Selecciona una página para continuar:</p>
        <button class="button" onclick="location.href='{{ url_for('dashboard.gender_dashboard') }}'">Empleados por Género</button>
        <button class="button" onclick="location.href='{{ url_for('dashboard.salary_dashboard') }}'">Salario por Tipo de Contrato</button>
        <button class="button" onclick="location.href='{{ url_for('dashboard.professions_dashboard') }}'">Empleados por Profesión</button>
        <button class="button" onclick="location.href='{{ url_for('dashboard.department_dashboard') }}'">Empleados por Departamento</button>
        <button class="button-down" onclick="pullContracts()">Bajar los últimos datos</button>
    </div>
    <script>
        function pullContracts() {
            fetch('{{ url_for('contracts.pullAllContracts') }}', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener los contratos desde la API');
                }
                return response.json();
            })
            .then(data => {
                alert('Datos bajados exitosamente');
                console.log(data);
                // Puedes realizar acciones adicionales con los datos obtenidos si es necesario
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Hubo un error al obtener los últimos datos desde la API');
            });
        }
    </script>
</body>
</html>