<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Empleados por Profesión</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f9;
            color: #333;
        }
        h1 {
            text-align: center;
            color: #4a90e2;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        .chart-container {
            position: relative;
            height: 40vh;
            width: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Empleados por Profesión</h1>
        <div class="chart-container">
            <canvas id="professionsChart"></canvas>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const professionsData = {{ employees_by_profession|tojson }};

            const ctx = document.getElementById('professionsChart').getContext('2d');
            const professionsChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(professionsData),
                    datasets: [{
                        label: 'Cantidad de Empleados por Profesión',
                        data: Object.values(professionsData),
                        backgroundColor: 'rgba(0, 104, 228, 1)',
                        borderColor: 'rgba(0, 104, 228, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    indexAxis: 'y',
                    scales: {
                        x: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
