<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Salario </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f9;
            color: #333;
        }
        h1 {
            text-align: center;
            color: #4a90e2;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        .chart-container {
            position: relative;
            height: 40vh;
            width: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Salario Base por Tipo de Contrato</h1>
        <div class="chart-container">
            <canvas id="salaryChart" width="400" height="400"></canvas>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const salaryData = {{ average_salary_by_contract_type|tojson }};
            
            const ctx = document.getElementById('salaryChart').getContext('2d');
            const salaryChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(salaryData),
                    datasets: [{
                        label: 'Salario Base Promedio',
                        data: Object.values(salaryData),
                        backgroundColor: 'rgba(0, 205, 93, 1)',
                        borderColor: 'rgba(0, 205, 93, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
